<!DOCTYPE html>
<html lang="en" data-ng-app="instituteApp">
<head>
	<title>Views</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<script src="../assets/moment-with-locales.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
	<script src="../assets/datetimepickerDirective.js"></script>
	<script src="../assets/views.js"></script>
	<script src="institute.js"></script>
	<script type="text/javascript">
			$(document).ready(
				function(){	
view.addWelcomePage('CreateInstitute');
				  view.init();
			});
	</script>
</head>
<body data-ng-controller="instituteController">

<nav class="navbar navbar-default">
<div class="container-fluid">
		<div>
			<ul class="nav navbar-nav">
<li><a href="" class="viewgroup" target="CreateInstitute">Institute</a></li>
<li><a href="" class="viewgroup" target="CreateCourses">Courses</a></li>
			</ul>
		</div>
	</div>
</nav>
 							
 							
 							
 							
<div class="modal fade" id="modalDelete Course">
							  	    <div class="modal-dialog">
							         <div class="modal-content">
							          <div class="modal-header">
							           <h4 class="modal-title">Course</h4>
							          </div>
							          <div class="modal-body">
								       <p>Do you really want to delete this course?</p>
								       <h5>Delete Course</h5>
<p>type: {{ Course.type }}</p>
<p>title: {{ Course.title }}</p>
<p>credits: {{ Course.credits }}</p>
<p>description: {{ Course.description }}</p>
<p>date: {{ Course.date }}</p>
<p>time: {{ Course.time }}</p>
<p>topic: {{ Course.topic }}</p>
<p>keywords: {{ Course.keywords }}</p>
							          </div>
							          <div class="modal-footer">
							           <button class="btn btn-default" data-dismiss="modal" data-ng-click="deleteCourse(course.id)">Delete</button>
							           	                        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
							          </div>
							         </div>
							  	    </div>
								   </div>
 							
<div class="container" id="Course Index">
 		 <h2>Courses</h2>
 		 <h3>List of all current courses</h3>
    		  <ul>
 		   <li data-ng-repeat="course in courses">{{ course.title }}
 			 <a href="" data-toggle="modal" data-target="#modalShowCourse" data-ng-click="getCourse(course.id)">show</a>
 		   </li>
 		  </ul>
    		 </div>
 							
 							
</div>
	 	  		    </body>
</html>